<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TaskManager</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="header">
        <div>
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="user-info">
            <a href="/UserProfile/Profile">
                <img src="https://via.placeholder.com/40" alt="User Profile Picture">
            </a>
            <div>
                <span>@ViewBag.UserName</span> <span>#@ViewBag.UserUniqueCode</span>
                <div class="dropdown">
                    <a href="/UserProfile/Profile">Profile</a>
                </div>
            </div>
        </div>
    </div>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - TaskManager</p>
    </footer>
</body>
</html>
